<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1035980061651-efc5bled3lnlvuibh5fgvjcugm4qgr61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035980061651-efc5bled3lnlvuibh5fgvjcugm4qgr61</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1035980061651-611v6enil2m5mah5v6mfo1rrq42ceev9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCXKce3JN3UBfMUj4HecBBA6wIxko8lZDg</string>
	<key>GCM_SENDER_ID</key>
	<string>1035980061651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDoApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>todo-flutter-407112</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-flutter-407112.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035980061651:ios:58dfe4c8303fd692874d26</string>
</dict>
</plist>